.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}


@keyframes slideInRight {
  from {
      visibility: visible;
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
    animation-name: slideInRight;
}