@charset "UTF-8";
.post-meta .tag {
  position: relative;
  padding-right: 4px; }
  .post-meta .tag:not(:last-of-type)::after {
    content: '·';
    position: absolute;
    right: -4px; }
  .post-meta .tag:hover::after {
    color: #6E7173; }
